# Implementação de um classificador com atributos mistos e com dados faltantes

### Aluno: Alisson da Silva Vieira

# Bibliotecas utilizadas

- Pandas: É uma biblioteca que fornece estruturas de dados rápidas, flexíveis e expressivas projetadas para tornar o trabalho com dados "relacionais" ou "rotulados" fácil e intuitivo. Tem como objetivo ser o bloco de construção fundamental de alto nível para fazer análises de dados.
- Scikit-learn: É uma biblioteca em Python para aprendizado de máquina desenvolvido com base no SciPy que fornece um conjunto de ferramentas de machine learning.

In [22]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Abertura do arquivo

Além de abrir o arquivo, conseguimos observar os 5 primeiros valores da base de dados.

In [23]:
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Informações da base de dados

Conseguimos observar as tabelas, os tipos referente a elas e a quantidade de valores que ela possui. Isso é importante para entedermos um pouco mais afundo dos nossos dados.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Valores faltantes

Conseguimos ver acima, que há valores faltantes, mais especificamente na coluna 'Age', 'Cabin' e 'Embarked', porém a quantidade total desses valores faltantes pode ser vista abaixo:

In [25]:
df.isnull().sum().sum()

866

# Imputação

Para resolver esse problema, irei utilizar a técnica da imputação, nas colunas: 'Age' e 'Embarked' que possuem dados faltantes.

In [26]:
columns = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']
atributos_numericos = ['Age']
atributos_categoricos = ['Embarked']

transformers = [
    ('imp_num', SimpleImputer(strategy='mean'), atributos_numericos),
    ('imp_cat', SimpleImputer(strategy='constant', fill_value='desconhecido'), atributos_categoricos)
]

ct_imp = ColumnTransformer(
    transformers, remainder='drop'
)

X_imp_vals = ct_imp.fit_transform(df)

X_imputed = pd.DataFrame(X_imp_vals, columns=[*atributos_numericos, *atributos_categoricos])

Após resolvido, além da minha tabela receber os dados completos agora também removo as colunas: 'PassengerId', 'Name', 'Ticket' e 'Cabin', pois são dados que nao nos ajudam em muita coisa.

In [27]:
df['Age'] = X_imputed['Age']
df['Embarked'] = X_imputed['Embarked']

df = df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    object
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 55.8+ KB